body {
    margin: 0;
    padding: 15px;
    font-family: 'Helvetica','Times New Roman';
}

label,
input,
select,
button {
    cursor: pointer;
}

table {
    margin-top: 20px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dbdbdb;
}

.sort-button {
    margin-left: 10px;
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.active {
    background-color: black;
    color: white;
}

.flag-cell {
    width: 50px;
    height: 25px;
    background-size: 100% 100%;
}

.rotate {
    transform: rotate(180deg);
}